<template>
  <div class="card">
    <div class="card-body">
      <form @submit.prevent="onSubmit">
        <div class="row">
          <div class="col-10"><input type="text" class="form-control" v-model="title"></div>
          <div class="col-2"><button type="submit" class="btn btn-primary">+</button></div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default  {
  data() {
    return {
      title: ''
    }
  },
  methods: {
    onSubmit() {
      if (this.title.trim()) {
        const requestOptions = {
          method: "POST",
          headers: { "Content-Type": "application/json" },
          body: JSON.stringify({ title: this.title })
        };
        fetch("http://localhost/api/todo/add", requestOptions)
          .then(response => response.json())
          .then(data => {

            const newTodo = data.data
            console.log(data)


            this.$emit('add-todo', newTodo)
            this.title = ''
          });
      }
    }
  }
}
</script>

<style scoped>

</style>
