<template>
  <li>
    <div class="card mb-3">
      <div class="card-body">
        <div class="row">
          <div class="col-10">
            <span v-bind:class="{done: todo.completed}">
              <input type="checkbox" class="form-check-input" @change="complete()" :checked="todo.completed">
              <strong>{{ index + 1 }}</strong>
              {{ todo.title }}
            </span>
          </div>
          <div class="col-2">
            <button class="btn btn-danger" @click="$emit('remove-todo', todo.id)" >&times;</button>
          </div>
        </div>
      </div>
    </div>
  </li>
</template>

<script>
export default {
  props: {
    todo: {
      type: Object,
      required: true
    },
    index: Number
  },
  methods: {
    complete() {
      const requestOptions = {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id: this.todo.id })
      };
      fetch("http://localhost/api/todo/complete", requestOptions)
        .then(response => response.json())
        .then(data => {
          this.todo.completed = data.data.completed
        })
    }
  }
}
</script>

<style scoped>
  .done {
    text-decoration: line-through;
  }
  input {
    margin-right: 1rem;
  }
  span {
    font-size: 1.3rem;
  }
</style>
