<template>
  <div>
    <h1>{{title}}</h1>
    <router-link to="/vue/home">Home</router-link>
    <AddTodo
      @add-todo="addTodo"
    />
    <hr>
    <Loader v-if="loader"/>
    <TodoList
        v-bind:todos="todos"
        @remove-todo="removeTodo"
    />
  </div>
</template>

<script>
import TodoList from "./TodoList.vue";
import AddTodo from "./AddTodo.vue";
import Loader from "../Loader.vue";

export default {
  components: {
    TodoList,
    AddTodo,
    Loader
  },
  data: function () {
    return {
      title: "Todo list",
      loader: true,
      todos: []
    }
  },
  mounted() {
    fetch("http://localhost/api/todo")
      .then(response => response.json())
      .then(json => {
        this.todos = json?.data ?? [];
        this.loader = false
      })
  },
  methods:{
    removeTodo(id) {
      this.todos = this.todos.filter(t => t.id !== id)
    },
    addTodo(todo) {
      this.todos.push(todo)
    }
  },

}
</script>
