<template>
  <div>
    <ul>
      <TodoItem
          v-for="(todo, i) in todos"
          v-bind:key="todo.id"
          v-bind:index="i"
          v-bind:todo="todo"
          @remove-todo="removeTodo"
      />
    </ul>
  </div>
</template>

<script>
import TodoItem from './TodoItem.vue';

export default {
  components: {
    TodoItem: TodoItem
  },
  props: ['todos'],
  methods: {
    removeTodo(id) {
      const requestOptions = {
        method: "DELETE",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ id: id })
      };
      fetch("http://localhost/api/todo/delete", requestOptions)
        .then(response => response.json())
        .then(data => {
          console.log(data)
          this.$emit('remove-todo', id)
        })
    },
  }
}
</script>

<style scoped>
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
</style>
