<template>
  <div>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, commodi debitis deserunt dolore esse mollitia non perspiciatis quia tempora tenetur?</p>
    <router-link to="/vue/todo">Todo</router-link>
  </div>

</template>
<script setup>
</script>